:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  --color-text: #6A645A;
  --color-soft-beige: #E3CD8B;
  --color-primary: #5D7052;
  --color-accent: #C18845;
  --color-peach: #F0BE86;
  --color-background: #FAF8F3;
  --color-white: #FFFFFF;
  --color-error: #9F2D2D;

  color: var(--color-text);
  background: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}

body {
  overflow-x: hidden;
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}

a {
  color: inherit;
}