# ========================
# Global / OS / IDE
# ========================
.DS_Store
Thumbs.db

# VS Code / JetBrains
.vscode/
.idea/
*.iml

# ========================
# Symfony (API)
# ========================
CesiZen_API# ========================
/vendor/
CesiZen_API/var/
CesiZen_API/.env.local
CesiZen_API/.env.*.local

# ========================
# React (Vite)
# ========================
web-react/node_modules/
web-react/dist/
web-react/.env.local
web-react/.env.*.local

# ========================
# Android / Kotlin
# ========================
mobile-kotlin/.idea/
mobile-kotlin/**/build/
mobile-kotlin/.gradle/
mobile-kotlin/local.properties

# ========================
# Logs
# ========================
*.log
/.env



web-react/lighthouse-report.report.html
web-react/lighthouse-report.report.json