:root {
 
  --color-text: #6A645A;

  --color-soft-beige: #E3CD8B;

  
  --color-primary: #5D7052;

  
  --color-accent: #C18845;

 
  --color-peach: #F0BE86;

  
  --color-background: #FAF8F3;

  
  --color-white: #FFFFFF;

 
  --color-error: #9F2D2D;
}